body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
img {
  max-width: 100%;
}
.container {
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}
.description {
  margin-left: 9px;
}
.description_small {
  display: flex;
  color: #6a696b;
  font-size: 12px;
  font-weight: 400;
}
.name {
  display: block;
  font-size: 16px;
  font-weight: 800;
}
.menu-logo {
  display: flex;
  align-items: center;
}
.avatar {
  width: 57px;
  height: 57px;
  background: url('https://pp.userapi.com/c840236/v840236879/678de/_p03eagipk4.jpg');  
  background-size: 100%;
  border-radius: 50%;
}
.menu-list {
  display: flex;
  align-items: center;
}
.menu-list a {
  text-decoration: none;
  color: #2b2a2c;
  text-transform: uppercase;
  font-weight: 800;
  margin-right: 34px;
}
.menu-button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid #2b2a2c;
  padding: 13px 22px;
}
.hero {
  padding-top: 112px;
  padding-bottom: 10px;
  background: url('https://wmpics.pics/di-VF29.png') no-repeat right top;
}
.hero-subtitle {
  font-size: 32px;
}
.hero-title {
  font-size: 45px;
  font-weight: 800;
  margin-top: 5px;
  margin-bottom: 5px;
}
.hero-description {
  color: #6a696b;
  font-size: 18px;
}
.hero-social {
  margin-top: 30px;
}
.social {
  display: inline-block;
  width: 41px;
  height: 41px;
  margin-right: 12px;
  color: #fff;
  text-align: center;
  line-height: 41px;
}
.behance-bg {
  background-color: #1869ff;
}
.facebook-bg {
  background-color: #3a5898;
}
.instagram-bg {
  background-color: #13578a;
}
.vk-bg {
  background-color: #56acef;
}
.hero-buttons {
  margin-top: 40px;
}
.button {
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
  background-color: #2b2a2c;
  border-radius: 50px;
  padding: 20px 34px;
  display: inline-block;
}
.button-primary {
  color: #fff;
  margin-right: 17px;
  margin-bottom: 10px;
}
.button-o {
  background-color: transparent;
  color: #6a696b;
  border: 1px solid #6a696b;
}

.projects {
  padding: 97px 0;
  display: flex;
  align-content: center;
}
.project-cards {
  display: flex;
  justify-content: space-around;
  /*flex-wrap: wrap;*/
  flex-flow: row wrap;
  

}
.project-card {
  width: 370px;
  min-height: 370px ;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
  /*justify-content: space-around;*/
}
.project-card_image {
  height: 300px;
  background-repeat: no-repeat;
}
.landing-page {
  background: url('https://avatars.mds.yandex.net/get-pdb/38069/bbd10fda-fcf1-4970-a540-5a19714b150c/s1200') center;
  background-size: cover;
  background-repeat: no-repeat;
}
.landing-page2 {
  background: url('https://avatars.mds.yandex.net/get-pdb/812271/cfbaae8f-7fad-41e8-ba5e-481fff95ba2a/s1200') center;
    background-size: cover;
  background-repeat: no-repeat;
}
.landing-page3 {
  background: url('https://avatars.mds.yandex.net/get-pdb/34158/ca9d4f04-2f85-4308-8c62-789f66595cb3/s1200') center;
    background-size: cover;
  background-repeat: no-repeat;
}
.landing-page4 {
  background: url('https://avatars.mds.yandex.net/get-pdb/38069/2d6e2df5-2ecd-4cb0-b176-9990bc413eaf/s1200') center;
    background-size: cover;
  background-repeat: no-repeat;
}
.landing-page5 {
  background: url('https://avatars.mds.yandex.net/get-pdb/939186/109ea73f-e25e-4e2a-9e49-ecf1a269b34f/s1200') center;
    background-size: cover;
  background-repeat: no-repeat;
}
.landing-page6 {
  background: url('https://avatars.mds.yandex.net/get-pdb/216365/bd8bea92-eee1-48e4-9e67-ccd09fd3948c/s1200') center;
    background-size: cover;
  background-repeat: no-repeat;
}
.landing-page7 {
  background: url('https://avatars.mds.yandex.net/get-pdb/38069/bbd10fda-fcf1-4970-a540-5a19714b150c/s1200') center;
    background-size: cover;
  background-repeat: no-repeat;
}
.landing-page8 {
  background: url('https://avatars.mds.yandex.net/get-pdb/812271/cfbaae8f-7fad-41e8-ba5e-481fff95ba2a/s1200') center;
    background-size: cover;
  background-repeat: no-repeat;
}
.landing-page9 {
  background: url('https://avatars.mds.yandex.net/get-pdb/34158/ca9d4f04-2f85-4308-8c62-789f66595cb3/s1200') center;
    background-size: cover;
  background-repeat: no-repeat;
}
.project-card_info {
  padding: 19px 13px;
  
}
.project-category {
  display: block;
  font-size: 12px;
  color: #2b2a2c;
}
.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}

.footer{
  background-color: #2b2a2c;
  padding: 20px 0;
  color: #8d8d8e;
  
}
.footer a{
  color: #8d8d8e;
  text-decoration: none;
}
.footer-info{
  display: flex;
  justify-content: space-between;
}
.footer-text{
  display: flex;
  align-items: center;
}
.copyrigth{
  padding-right: 16px;
  margin-right: 16px;
border-right: 1px solid #413f41;
  font-size: 14px;
}
.footer-social_link{
  font-size: 20px;
  margin-right: 13px;
  
}
.footer-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-menu a{
  font-size: 14px;
  display: inline-block;
  margin-right: 30px;
}
.footer-button{
  background-color: transparent;
  border-radius: 50px;
  padding: 8px 22px;
  display: inline-block;
  border: 1px solid #8d8d8e;
}
@media (max-width: 1200px) {
  .container {
    width: 965px;
  }
  .project-card {
    width: 48%;
  }
}
@media (max-width: 992px) {
  .container {
    width: 760px;
  }
    .project-card {
    width: 48%;
  }
}
@media (max-width: 768px) {
  .description_small {
    font-size: 10px;
  }
  .menu-list {
    display: none;
  }
  .hero {
    padding-bottom: 550px;
    padding-top: 30px;
  }
  .container {
    width: 95%;
  }
    .project-card {
    width: 95%;
    margin: 30px auto;
  }
  
}